extends layouts/main

block content
    .form(action=`/read`, method="post",enctype="multipart/form-data")
        label(for="file") choose file
        input(type="file",id="file",name="textFile", required=true, accept="text/plain")
        input(type="submit",value="convert")