extends layouts/main

block content
    .form-container
        form(action=routes.editProfile,method="post")
            laber(for="avatar")avatar
            input(type="file",id="avatar",name="avatar")
            input(type="text",placeholder="name",name="name")
            input(type="email",placeholder="email",name="email")
            input(type="submit",vaule="update profile")
        a.form-container__link(href=routes.changePassword) changePassword