extends layouts/main

block content
    .search__header
        h3 Seraching for #{searchingBy}
    .search__videos
        echo item in videos
            +videoBlock({
                title: item.title,
                views: item.views,
                videoFile: item.videoFile
            })