extends layouts/main

block content
    .form-container
        form(action= `/videos${routes.upload}`,method="post")
            input(type="file",name="chooseFile", required=true)
            input(type="text", placeholder="Title", name="title", required=true)
            textarea(name="description", placeholder="Description", required=true)
            input(type="submit", value="Upload Video")
