extends templates/layout

block content
    .form-container
        form(action= `/add`,method="post")
            input(type="text",name="title", placeholder= "title", required=true)
            input(type="text", placeholder="Synopsis", name="synopsis", required=true)
            textarea(name="genres", placeholder="genres", required=true)
            input(type="submit", value="Add movie")
