extends layouts/main.pug
include mixins/movieBlock.pug

block content
    .movies
        each item in movies
            +movieBlock({
                id: item.id,
                title: item.title
            })