.social-Login
    button.social_login--github
        span    
            i.fab.fa-github
            |continue with github
    button.social_login--facebook
        span    
            i.fab.fa-facebook
            |continue with facebooks