extends layouts/main

block content
    h1 #{pageTitle}
        .form-container
            form(action="/create", method="post")
                input(type="text",name="title",placeholder="Title", minlength="3")
                input(type="number",name="year",placeholder="year")
                input(type="number",name="rating",placeholder="rating")
                input(type="text", name="synopsis", placeholder="Synopsis")
                textarea(type="text", name="genres", placeholder="Genres")
                input(type="submit", value="submit")